@font-face {
  font-family: mantinia;
  src: url("../../assets/Mantinia\ Regular.otf");
}

body {
  font-family: mantinia;
  color: white;
  font-size: 20px;
  width: 270px;
  overflow: hidden;
}

button {
  background: #33333388;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  min-width: 70px;
  min-height: 28px;
  transition: all 80ms linear;
}

button:hover {
  cursor: pointer;
  background-color: #9998;
}

.main_content {
  height: 600px;
}

.row {
  max-height: 54px;
}

.row_img {
  position:relative;
  z-index: 1;
  bottom: 50px;
}

.row_data {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  top:2px;
  padding: 12px;
}

.counterID {
  position:absolute;
  left: 40px;
}

.drawer {
  padding: 12px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all 200ms linear;
  background-color: #00000033;
  opacity: 0;
  position: relative;
  bottom: 200px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 131px;
  z-index: 0;
}

.drawer_open {
  opacity: 1;
  bottom: 20px;
  animation: openDrawer 300ms;
}

.drawer .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 36px;
  align-items: center;
}

.drawer .row button {
  width: 100%;
  font-family: mantinia;
  font-size: 20px;
  padding-top: 6px;
  height: 36px;
  min-width: 120px;
}

.mover {
  background-color: #000000ee;
  border: 2px solid white;
  border-radius: 5px;
  position: absolute;
  height: 390px;
  width:266px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  -webkit-app-region: drag;
}

.mover button {
  position: relative;
  bottom: 20px;
  height: 50px;
  width: 120px;
  font-size: 26px;
  font-family: mantinia;
  -webkit-app-region: no-drag;
}

.mover span {
  position: relative;
  top: 20px;
  font-size: 36px;
}

.hide {
  display: none !important;
}

.icon {
  transition: transform 80ms cubic-bezier(.54,.38,.71,.55);
}

.drawer-toggle {
  cursor: pointer;
  transition: all 200ms linear;
  z-index: 4;
  position: relative;
  top: 0px;
}

.icon:hover {
  transform: scale(1.4);
}

.icon_flip {
  transform: rotateZ(180deg);
  top: 150px;
}

.drawer-toggle {
  z-index: 2;
  display: flex;
  justify-content: center;
}

.counterSelection {
  position: absolute;
  top: 24px;
  left: 280px;
  height: 184px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.counterSelection button {
  width: 16px;
  height: 16px;
  min-width: 0px !important;
  min-height: 0px !important;
}

.chosenCounterIndicator {
  position: absolute;
  z-index: 9;
  right: 10px;
}

.chosenCounterIndicator.first {
  top: 25px;
}

.chosenCounterIndicator.second {
  top: 79px;
}

.chosenCounterIndicator.third {
  top: 133px;
}

.chosenCounterIndicator.fourth {
  top: 186px;
}